* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #343D3F; 
  padding-bottom: 1.25em;
  color: #222;
}

.container {
  background: #ffffffe6;
  backdrop-filter: blur(10px);
  padding: 1.25em;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5em;
  box-shadow: 0 4px 6px #0000001a;
  border: 1px solid #ffffff4d;
}

h1 {
  font-size: 3.75rem;
  font-family: 'Bebas Neue', sans-serif;
  color: #204F86;
  margin: 0;
}

.subtitle {
  color: #264653;
  font-size: 1.25rem;
  margin: 0 0 2em;
}

.poster-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .625em;
  margin-bottom: 1.25em;
}

button,
input {
  font-size: 1.125rem;
}

input[type="text"],
select {
  flex: 1;
  min-width: 140px;
  padding: .625em;
  border: 2px solid #443C76;
  background: #f0f0f0;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border: none;
  background: #443C76;
  color: white;
  padding: .625em 1.25em;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

button:hover {
  background: #554d8c;
}

.poster-output {
  font-weight: bold;
  margin-top: 1.25em;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000001a;
  border-radius: 4px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

.loading {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #4b9fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@media (max-width: 800px) {
  input, select, button {
    display: block;
  }
  .poster-form {
      flex-direction: column;
  }

  input[type="text"], button {
      width: 100%;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}